<%= form_for(@web_application, html: {class: "web-app"}) do |f| %>
  <% name_errors = get_error_string(@web_application, :name) %>
  <% status_url_errors = get_error_string(@web_application, :status_url) %>
  <div id="container">
    <div id="labels">
      <%= f.label :name, "Web Application Name:" %><br/>
      <%= f.label :status_url, "Status Url:" %>
    </div>
    <div id="inputs">
      <%= f.text_field :name %><br/>
      <%= f.text_field :status_url, placeholder: "http://www.foo.com/.well-known/status" %>
    </div>
    <div id="errors">
      <p><%= name_errors %></p>
      <p><%= status_url_errors %></p>
    </div>
  </div>
  <div id="user-list">
    <% users_errors = get_error_string(@web_application, :users) %>
    <%= f.fields_for :user do |user_field| %>
    <%= user_field.label :email, "Who Will Own This?", class: "control-label" %><span id="user-error"> <%= users_errors %></span><br />
      <% User.order("email ASC").each do |user| %>
        <% is_checked = user == @current_user || @web_application.users.include?(user) ? true : false %>
        <label>
          <%= check_box_tag "web_application[user][emails][]", user.email, is_checked %>
          <%= user_name_or_email(user) %>
        </label>
        <br />
      <% end %>
    <% end %>
  </div>
  <div>
    <%= f.submit %>
  </div>
<% end %>
