<%= form_for(@web_application) do |f| %>
  <table>
  <tr>
    <td>
      <%= f.label :name %><%= f.text_field :name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :status_url %><%= f.text_field :status_url %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit 'Submit' %>
    </td>
  </tr>
  </table>
<% end %>
