<%= form_for(@web_application) do |f| %>
  <table>
  <tr>
    <td>
      <%= f.label :name %><%= f.text_field :name %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.label :status_url %><%= f.text_field :status_url %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.fields_for :user do |user_field| %>
        <%= user_field.label :email, "Additional Application Managers" %>
        <%= user_field.collection_select(:ids, User.all - [@current_user], :id, :local_email_part, {selected: @web_application.users.map(&:id)}, {multiple: true}) %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.submit 'Submit' %>
    </td>
  </tr>
  </table>
<% end %>