<div id="sub-head">
  <h2>Your Web Applications</h2>
  <%= link_to "+ Add new", new_web_application_path, {class: "new" }%>
</div>

<table>
  <tr>
    <th class="status">Status</th>
    <th class="name">Name</th>
    <th>URL</th>
    <th>Owners</th>
    <th>&nbsp;</th>
  </tr>
  <% @web_applications.each do |web_app| %>
    <% row_class = web_app.current_status == "ok" ? "success" : "error" %>
    <tr class="<%= row_class %>">
      <td class="status"><%= web_app.current_status == "ok" ? "v" : "x" %></td>
      <td class="name"><%= link_to web_app.name, web_application_path(web_app) %></td>
      <td><%= link_to web_app.root_url, web_app.root_url %></td>
      <td><%= owners(web_app, @current_user) %></td>
      <td>
        <%= link_to "edit", edit_web_application_path(web_app), {class: "edit"} %>
      </td>
    </tr>
  <% end %>
</table>

<%= will_paginate @web_applications %>
