<h2 id="index-header">Your Web Applications</h2>
<div class="new-or-edit-app icon-plus-sign">
  <%= link_to "new", new_web_application_path, {class: "new-or-edit-app-link" }%>
</div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>URL</th>
    <th>Owners</th>
    <th id="edit">&nbsp;</th>
  </tr>
  <% @web_applications.each do |web_app| %>
    <% row_class = web_app.get_status == "ok" ? "success" : "error" %>
    <tr class="<%= row_class %>">
      <td><%= link_to web_app.name, web_application_path(web_app) %></td>
      <td><%= web_app.get_status %></td>
      <td><%= web_app.root_url %></td>
      <td class="email-list"><%= owners(web_app, @current_user) %></td>
      <td>
        <div class="new-or-edit-app icon-edit">
          <%= link_to "edit", edit_web_application_path(web_app), class: "new-or-edit-app-link" %>
        </div>
      </td>
    </tr>
  <% end %>
</table>
