<h2 id="index-header">Your Web Applications</h2>
<div class="icon-plus-sign" id="new-app">
  <%= link_to "new", new_web_application_path, {id: "new-app-link" }%>
</div>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Status</th>
    <th>URL</th>
    <th>Owners</th>
    <th>&nbsp;</th>
  </tr>
  <% @web_applications.each do |web_app| %>
    <% row_class = web_app.get_status == "ok" ? "success" : "error" %>
    <tr class="<%= row_class %>">
      <td><%= link_to web_app.name, web_application_path(web_app) %></td>
      <td><%= web_app.get_status %></td>
      <td><%= web_app.root_url %></td>
      <td><%= owners(web_app, @current_user) %></td>
      <td><%= link_to "edit", edit_web_application_path(web_app) %></td>
    </tr>
  <% end %>
</table>
