<div id="sub-head" class="one-app">
  <h2><%= @web_application.name %></h2>
  <%= link_to "edit", edit_web_application_path(@web_application), class: "edit" %>
  <p>
    <%= link_to @web_application.root_url, @web_application.root_url %>
  </p>
</div>

<table id="one-app">
  <tr>
    <td>
      <h3>Status</h3>
      <p>
        <% if @web_application.current_status == "ok" %>
          <%= image_tag "engine_light_green.png" %>
        <% else %>
          <%= image_tag "engine_light_red.png" %>
         <% end %>
      </p>
      <p>
        <%= @web_application.current_status %>
        as of <span style="white-space: nowrap"><%= @web_application.status_checked_at.strftime('%m/%d/%Y %H:%M %Z') %></span>
      </p>
    </td>
    <% if @web_application.dependencies.present? %>
      <td>
        <h3>Dependencies</h3>
        <%= dependencies_list(@web_application.dependencies) %>
      </td>
    <% end %>
    <% if @web_application.resources.present? %>
      <td>
        <h3>Resources</h3>
        <%= resource_list(@web_application.resources) %>
      </td>
    <% end %>
    <td>
      <h3>Owners</h3>
      <%= owners_list(@web_application.users) %>
    </td>
  </tr>
</table>
<% if @web_application.versions.size > 1 %>
  <table id="app-status-list">
    <tr>
      <th id="status_log" colspan="2">Status Log</th>
    </tr>
    <tr>
      <th class="status">Status</th>
      <th>Occured</th>
    </tr>
    <% @most_recent_versions.each do |version| %>
      <% if version.object.present? %>
        <% version_hash = YAML.load(version.object) %>
        <tr>
          <td class="status"><%= version_hash["current_status"] %></td>
          <td><%= time_ago_in_words(version_hash["updated_at"]) %> ago</td>
        </tr>
      <% end %>
    <% end %>
  </table>
<% end %>
