<div class="navbar navbar-static-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= image_tag "/assets/static/check_engine_light.png", id: "brand-icon" %>
      <%= link_to "Engine Light", web_applications_path, {class: "brand"} %>
      <ul class="nav pull-right">
        <li>
          <% if @current_user.present? %>
            <p id="user-account-info" class="text-info">
              <%= @current_user.email %>
            </p>
          <% end %>
          <form class="navbar-form">
            <% if @current_user.present? %>
              <input type="button" id="signout" value="Sign out" class="btn btn-default navbar-btn">
            <% else %>
              <input type="button" id="signin" value="Sign in" class="btn btn-default navbar-btn">
            <% end %>
          </form>
        </li>
      </ul>
      <% if @current_user.present? %>
      <ul class="nav">
        <li>
          <%= link_to "View Apps", web_applications_url %>
        </li>
        <li>
          <%= link_to "Add App", new_web_application_url %>
        </li>
      </ul>>
      <% end %>
    </div>
  </div>
</div>
