<!DOCTYPE html>
<html lang="en">
<head>
  <title>Engine Light</title>
  <%= stylesheet_link_tag "application" %>
  <script src="https://login.persona.org/include.js"></script>
  <script type="text/javascript">
    var currentUser = <% if session[:email] %>'<%= session[:email] %>'<% else %>null<% end %>;
  </script>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render partial: "layouts/navbar" %>
  <div class="container">
    <% flash.each do |key, value| %>
      <div class="alert-<%= key %>"><%= value %></div>
    <% end %>

    <%= yield %>

    <script type="text/javascript">
      var signinLink = document.getElementById('signin');
      if (signinLink) {
        signinLink.onclick = function() { navigator.id.request(); };
      }

      var signoutLink = document.getElementById('signout');
      if (signoutLink) {
        signoutLink.onclick = function() { navigator.id.logout(); };
      }
    </script>
  </div>
</body>
</html>
